{% extends "base.html" %}
{% load aux_tags %}
{% block title %}{% endblock %}

{% block content %}{% endblock %}

{% block sidebar %}    

<ul class="list-unstyled components">
    <h4>Main Menu</h4>
    <h5>Select a function</h5>
    <li>
        <a href="{% url 'main-home' %}">Home</a>
    </li>
    <li>
        <a href="{% url 'person-lookup' %}">Person Lookup</a>
    </li>
    <li>
        <a href="{% url 'sale-lookup' %}">Sale Lookup</a>
    </li>
    <li>
        <a href="{% url 'sale-lookup-buttons' %}">Sale Lookup Buttons</a>
    </li>
    <li>
        <a href="{% url 'sale-lookup-form' %}">Sale Lookup W/Form</a>
    </li>
    <li>
        <a href="{% url 'sale-plotly' %}">Sale Plotly</a>
    </li>
</ul>
{% endblock %}